.cart {
  &-container {
    width: 70%;
    padding: 3rem;
    & > * {
      margin-bottom: 1rem;
    }
  }
}
.placeorder {
  display: flex;
  justify-content: flex-end;
}
.btn {
  padding: 1rem;
}
.address {
  &-heading {
    display: flex;
    justify-content: space-between;
  }
  .radio-btn {
    display: flex;
    gap: 10px;
  }
}
.continue-button,
.placeorder-button {
  display: flex;
  justify-content: flex-end;
}
.continue-btn {
  margin-right: 1rem;
}
