.register {
  &-container {
    // background-color: pink;
    min-height: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-button{
    padding: 1rem;
    background-color: #A03037;
    border: 0;
  }
}
.row{
    display: flex;
    flex-direction: column;
    padding:5px;
}
.inputbox{
    padding: 8px;
}

label{
    text-transform: capitalize;
}