{{link}}
<div class="user-container">
  <div class="user-container-sub">
    <div class="image-container">
      <img
        src="../../../../assets/logo2.png"
        alt="login-image"
        class="image-photo"
      />
    </div>
    <div class="content">
      <div class="content-sub">
        <div class="content-buttons">
          <div class="buttons-combain">
            <button class="btn btn-login" routerLink="login" routerLinkActive="active-color" >login</button>
          </div>
          <div class="buttons-combain">
            <button class="btn btn-signin" routerLink="register" routerLinkActive="active-color">sign Up</button>
          </div>
        </div>
        <div class="content-forms">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>
