<div class="user-container">
  <div class="user-container-sub">
    <div class="image-container">
      <img
        src="https://i.ibb.co/JFKwmgR/istockphoto-1281150061-612x612-removebg-preview.png"
        alt="login-image"
        class="image-photo"
      />
    </div>
    <div class="content">
      <div class="content-sub">
        <div class="content-buttons">
          <div class="buttons-combain">
            <button class="btn btn-login">login</button>
          </div>
          <div class="buttons-combain">
            <button class="btn btn-signin">sign in</button>
          </div>
        </div>
        <div class="content-forms">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>
</div>
