.header {
  background-color: #a03037;
  font-size: 1.6rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  height: 5vh;
  &-content {
    position: relative;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: #ffffff;
  }
}
.password {
  &-content {
    // background-color: lightblue;
    height: 90vh;
}
}
