.newAddress {
  &-container {
  }
  &--input {
    min-height: 5.5rem;
  }
}
.row {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  .col {
    font-size: 2rem;
    width: 100%;
  }
}
.inputbox {
  padding: 1rem 0;
  font-size: 1.6rem;
  width: 100%;
}
.form {
  width: 90%;
}
.button {
  display: flex;
  justify-content: end;
}
.AddAddress {
  padding: 1rem;
}
.radio{
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}