.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  &-sub {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      &-sub {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}
.sort {
  &--dropdwn {
    padding: 1rem;
  }
}
.content {

  &-container {
    display: flex;
    justify-content: center;
    &-sub {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    }
  }
}
.notes {
}
.book {
  &-container {
  }
}
