<div class="orderplaced-container">
  <div class="orderplaced-container-sub">
    <div class="image-container">
      <img
        class="image-container--image"
        src="../../../assets/orderplaced.gif"
      />
    </div>
    <div class="content-container">
      <div class="content-des">
        Hurray!!! Your Order is Confirmed the Order id is #1 Save the order id
        for further communication
      </div>
      <div class="content-table">
        <table class="table">
          <tr>
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
          </tr>
          <tr>
            <td>admin@bookstore.com</td>
            <td>+91 8163475881</td>
            <td class="address">
              42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near
              Kumarakom restaurant, HSR Layout, Bangalore 560034
            </td>
          </tr>
        </table>
      </div>
      <div class="button">
        <button class="btn" routerLink="../books">continue shoping</button>
      </div>
    </div>
  </div>
</div>
